<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <meta charset="UTF-8">
  <title>Users List</title>
</head>
<body>

<!--Верхний блок, полоска с именем, ролью и выход-->
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
<!--    <form class="d-flex" th:action="@{/user}" th:method="GET">-->
    <div class="navbar-brand" th:text="${user.username  + ' With roles:' + user.getRoleString()}"></div>
<!--    </form>-->

    <form class="d-flex" th:action="@{/logout}" th:method="POST">
      <button class="btn btn-outline-light" type="submit">Logout</button>
    </form>
  </div>
</nav>



Ustrs List
<br/><br/>

<a href="/admin/addUser">Add user</a>

<br/>
<hr/>

<div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>User Name</th>
      <th>@Email</th>
      <th>Role</th>
      <th>Edit</th>
      <th>Delite</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${UserTable}">
      <td th:text="${user.id}"></td>
      <td><a th:href="@{/admin/editUser/{id}(id=${user.id})}" th:text="${user.username}"></a></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.getRoleString()}"></td>
      <td th:text="Edit"></td>
      <td th:text="Delite"></td>
    </tr>
    </tbody>
  </table>
</div>
<br/><br/>

<form th:action="@{/logout}" th:method="POST">
  <input type="submit" value="Logout">
</form>

</body>
</html>