<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users List</title>
</head>
<body>
Ustrs List
<br/><br/>

<a href="admin/addUser">Add user</a>

<br/>
<hr/>

<div>
  <table>
    <thead>
    <tr>
      <th style="padding: 20px;">Id</th>
      <th style="padding: 20px;">User Name</th>
      <th style="padding: 20px;">Password</th>
      <th style="padding: 20px;">@Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${UserTable}">
      <td style="padding: 20px;" th:text="${user.id}"></td>
      <td style="padding: 20px;"><a th:href="@{admin/editUser/{id}(id=${user.id})}" th:text="${user.username}"></a></td>
      <td style="padding: 20px;" th:text="${user.password}"></td>
      <td style="padding: 20px;" th:text="${user.email}"></td>
    </tr>
    </tbody>
  </table>
</div>
<br/><br/>

<form th:action="@{/logout}" th:method="POST">
  <input type="submit" value="Logout">
</form>

</body>
</html>