<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <meta charset="UTF-8">
  <title>Admin List</title>
</head>

<style>
  .table-title {
    background-color: #d6e4ff; / бледно-синий цвет /
  color: #1358a2; / ярко-синий цвет /
  font-weight: bold;
    text-align: left;
  }
  .table.table-striped {
    background-color: #edf2f7; / бледно-серый цвет для всей таблицы /
  }
</style>

<body>

<!--Верхний блок, полоска с именем, ролью и выход-->
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-brand" th:text="${user.username  + ' With roles:' + user.getRoleString()}"></div>

    <form class="d-flex" th:action="@{/logout}" th:method="POST">
      <button class="btn btn-outline-light" type="submit">Logout</button>
    </form>
  </div>
</nav><br/>

<!--<a href="/admin/addUser">Add user</a>-->

<hr/>

<!--Вкладки Admin и User-->
<div class="nav-item">
  <div class="row">
    <style>
      .nav-tabs .nav-item .nav-link {
        background-color: #1358a2; / синий цвет /
      color: #FFFFFF; / белый цвет текста /
      }
    </style>

    <div class="col-2">
      <ul class="nav nav-tabs flex-column" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="admin-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="admin" aria-selected="true" style="color: white;">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="false" style="color: white">User</a>
        </li>
      </ul>
    </div>
    <div class="col-10">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="admin-tab">

          <!-- Содержимое для вкладки "Admin" -->
          <h1>Admin panel</h1>

          <!-- Вкладки  'User table' и 'New User'-->
          <ul class="nav nav-tabs" id="AdminTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" style="color: white">User table</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" style="color: white">New User</a>
            </li>
          </ul>
          <div class="tab-content" id="AdminTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <!--Содержимое вкладки User table-->
              <!--Таблица с юзерами-->
              <div>
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>Id</th>
                    <th>User Name</th>
                    <th>@Email</th>
                    <th>Role</th>
                    <th>Edit</th>
                    <th>Delite</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="user : ${UserTable}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.getRoleString()}"></td>

                    <td><button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Edit</button></td>

                    <td>
                      <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-id="${user.getId()}">Delete</button>
                    </td>

                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

<!--            Delete-->

            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
                  <div class="modal-body">
                    <!-- Форма удаления пользователя -->

                    <form id="deleteForm2" method="DELETE">
                      <input type="hidden" id="userIdToDelete" name="id"/>
                      <p>Are you sure you want to delete this user?</p>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                    <td><form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                      <input type="submit" value="Delete" style="background-color: #FF0000; color: white; border-radius: 5px; padding: 5px 10px; display: inline-block; width: 100px;"/>
                    </form></td>

                  </div>
                  </form>
                </div>
              </div>
            </div>

                // Функция для закрытия модального окна и очистки полей формы после закрытия
                $('#deleteModal').on('hidden.bs.modal', function (e) {
                  $(this).find('form').trigger('reset');
                });
              });
            </script>



            <!-- Button to trigger modal edit user-->
            <!-- Modal edit user-->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- Форма редактирования юзера -->
                  </div>
                  <div class="form-group">

                    <form th:method="PATH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
                      <td th:text="${user.id}"></td>
                      <br/>

                      <label for="username">User Name &nbsp</label>
                      <input type="text" th:field="*{username}" id="username" placeholder="username" class="form-control form-control-sm"/>
                      <div style="color: red;" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                      <br/>

                      <label for="email">Email </label>
                      <input type="text" th:field="*{email}" id="email" placeholder="email" class="form-control form-control-sm"/>
                      <div style="color: red;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                      <br/>

                      <input type="submit" value="Update!" class="btn btn-success form-control form-control-sm"/>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <!--Содержимое вкладки New User-->
              <div class="card">
                <div class="card-header">
                  <h3>Add new user</h3>
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <form th:method="POST" th:action="@{/admin/}" th:object="${f}">
                      <div class="form-group">
                        <label for="usernamef">Username</label>
                        <input name="username" type="text" class="form-control form-control-sm" id="usernamef" placeholder="username">
                      </div>
                      <div class="form-group">
                        <label for="password">Password</label>
                        <input name="password" type="password" class="form-control form-control-sm" id="password" aria-describedby="emailHelp" placeholder="Password">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail2">Email</label>
                        <input name="email" type="email" class="form-control form-control-sm" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <label>Role</label>
                        <br/>
                        <label>
                          <input type="checkbox" name="roleAdmin" th:value="ADMIN" th:text="Admin">
                        </label>
                        <label>
                          <input type="checkbox" name="roleUser" th:value="USER" th:text="User">
                        </label>
                      </div>
                      <br/>
                      <button type="submit" class="btn btn-success">Add User</button>
                    </form>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
          <br/>
        </div>

        <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user-tab">

          <!-- Содержимое для вкладки "User" -->
          <h1>User information - page: </h1>
          <div>
            <table class="table table-striped">
              <thead>
              <tr>
                <th colspan="4" class="table-title">About user</th>
              </tr>
              <tr>
                <th>Id</th>
                <th>User Name</th>
                <th>@Email</th>
                <th>Role</th>
              </tr>
              </thead>
              <tbody>
              <td th:text="${user.id}"></td>
              <td th:text="${user.username}"></td>
              <td th:text="${user.email}"></td>
              <td th:text="${user.getRoleString()}"></td>
              </tbody>
            </table>
          </div>
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>